<li class="">
    <h4>{{data.title}}<br/>
        <small>User abc</small>
    </h4>
    <div class="row">
        <div class="col-md-6 col-xs-6 b-r" style="text-align:center">
            <h4>User's voice</h4>
            <button ng-show="!audio.playing" class="btn btn-success dim" type="button" ng-click="toggleUserVoice()"><i class="fa fa-play"></i></button>
            <button ng-show="audio.playing" class="btn btn-warning dim" type="button" ng-click="toggleUserVoice()"><i class="fa fa-pause"></i></button>
        </div>
        <div class="col-md-6 col-xs-6" style="text-align:center">
            <h4>Your voice</h4>
            <button ng-show="!advisorAudio.playing" class="btn btn-success dim" type="button" ng-click="toggleAdvisorVoice()"><i class="fa fa-play"></i></button>
            <button ng-show="advisorAudio.playing" class="btn btn-warning dim" type="button" ng-click="toggleAdvisorVoice()"><i class="fa fa-pause"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center; margin: 10px 0 10px 0">
            <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': data.score <= 0, 'fa-star': data.score >= 1, 'text-warning': data.score >= 1}"></span>
            <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': data.score <= 1, 'fa-star': data.score >= 2, 'text-warning': data.score >= 2}"></span>
            <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': data.score <= 2, 'fa-star': data.score >= 3, 'text-warning': data.score >= 3}"></span>
            <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': data.score <= 3, 'fa-star': data.score >= 4, 'text-warning': data.score >= 4}"></span>
            <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': data.score <= 4, 'fa-star': data.score >= 5, 'text-warning': data.score >= 5}"></span>
        </div>
    </div>
    <div class="agile-detail">
        <i class="fa fa-clock-o"></i> {{formatDateTime(data.createdDate)}}
    </div>
</li>
