<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{email}}</strong>
                                </span>
                                <span class="text-muted text-xs block">Menu<b class="fa fa-caret-down fa-fw"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="" ng-click="onChangePassword()">Change password</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="onLogout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.tasks"><i class="fa fa-laptop"></i> <span class="nav-label">Tasks</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.advisors"><i class="fa fa-desktop"></i> <span class="nav-label">Manage Advisor</span></a>
            </li>
        </ul>

    </div>
</nav>
