<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!--
    <item name="crittercism_key" type="string"></item>
    <item name="parse_app_id" type="string"></item>
    <item name="parse_app_key" type="string"></item>

    <item name="firebase_app_url" type="string"></item>
    <item name="firebase_token" type="string"></item>
    -->
</resources>