<li class="">
    <h4 style="display:block" ng-click="onOpenTask()">
        {{data.title}}<br/>
        <small><i class="fa fa-fw fa-user"></i>{{user_display_name}}</small><br/>
        <small><i class="fa fa-fw fa-clock-o"></i>{{formatDateTime(data.last_modified_date)}}</small>
        <span ng-if="!data.audio" class="badge badge-info pull-right"><i class="fa fa-fw fa-paragraph"></i></span>
        <div ng-if="data.audio" class="pull-right">
            <audio-player convert-to="mp3" audio="{{data.audio}}"></audio-player>
        </div>
    </h4>
    <div ng-show="isShowDetail">
        <hr ng-if="!isSubmitting && data.text"/>
        <div class="row" ng-show="!isSubmitting">
            <div class="col-md-12 col-xs-12" style="text-align:left" ng-show="!isSpeakingTask()">
                <h4>User says:</h4>
                <blockquote style="font-size:10pt">{{data.text}}</blockquote>
            </div>
        </div>

        <hr ng-if="!isSubmitting"/>

        <div class="row" ng-show="!isSubmitting">
            <div class="col-md-10 col-xs-10 form-group" style="text-align:center">
                <textarea ng-model="comment" rows="10" class="form-control" style="resize:vertical" placeholder="Your comment"></textarea>
            </div>
            <div class="col-md-2 col-xs-2" style="text-align:center">
                <button ng-show="isRecording" class="btn btn-warning dim" type="button" ng-click="stopRecord()"><i class="fa fa-stop"></i></button>
                <button ng-hide="isRecording" class="btn btn-success dim" type="button" ng-click="startRecord()"><i class="fa fa-microphone"></i></button>
                <button ng-show="teacher_audio && !teacher_audio.playing && !isRecording" class="btn btn-success dim" type="button" ng-click="playStopRecord()"><i class="fa fa-play"></i></button>
                <button ng-show="teacher_audio && teacher_audio.playing && !isRecording" class="btn btn-warning dim" type="button" ng-click="playStopRecord()"><i class="fa fa-pause"></i></button>
            </div>

            <div class="col-md-12" style="text-align:center; margin: 10px 0 10px 0" ng-mouseleave="pre_vote=vote">
                <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': !vote || vote == 0 || pre_vote == 0, 'fa-star': vote >= 1 && pre_vote >= 1, 'text-warning': vote >= 1 || pre_vote >= 1}" ng-mouseover="pre_vote=1" ng-click="vote=1"></span>
                <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': !vote || vote < 2  || pre_vote < 2 , 'fa-star': vote >= 2 && pre_vote >= 2, 'text-warning': vote >= 2 || pre_vote >= 2}" ng-mouseover="pre_vote=2" ng-click="vote=2"></span>
                <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': !vote || vote < 3  || pre_vote < 3 , 'fa-star': vote >= 3 && pre_vote >= 3, 'text-warning': vote >= 3 || pre_vote >= 3}" ng-mouseover="pre_vote=3" ng-click="vote=3"></span>
                <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': !vote || vote < 4  || pre_vote < 4 , 'fa-star': vote >= 4 && pre_vote >= 4, 'text-warning': vote >= 4 || pre_vote >= 4}" ng-mouseover="pre_vote=4" ng-click="vote=4"></span>
                <span style="padding:0 5px 0 5px" class="fa fa-2x" ng-class="{'fa-star-o': !vote || vote < 5  || pre_vote < 5 , 'fa-star': vote >= 5 && pre_vote >= 5, 'text-warning': vote >= 5 || pre_vote >= 5}" ng-mouseover="pre_vote=5" ng-click="vote=5"></span>
            </div>
        </div>
        <hr ng-if="!isSubmitting"/>

        <div class="agile-detail" ng-show="!isSubmitting">
            <div class="pull-right">
                <button tooltip="Return this task to queue" href="" ng-click="onPutBack()" class="btn btn-xs btn-danger"><i class="fa fa-fw fa-undo"></i> Put back</button>
                <button href="" ng-disabled="!vote || vote == 0 || (!teacher_audio && !comment)" ng-click="onSubmit()" class="btn btn-xs btn-primary"><i class="fa fa-fw fa-paper-plane"></i> Submit</button>
            </div>
            <i class="fa fa-clock-o"></i> {{formatDateTime(data.created_date)}}
        </div>
    </div>
</li>
